@charset "utf-8";
.wrapper {
    width: 100%;
}
/**********************************************
header
**********************************************/
header {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
header .btn {
    display: block;
    position: absolute;
    top: 40px;
    right: 10px;
    cursor: pointer;
}
header .btn div {
    width: 50px;
    height: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #424242;
    transition: 0.3s;
}
.change div:nth-last-of-type(1) {
    transform: translate(0,-10px) rotate(-135deg);
}
.change div:nth-last-of-type(2) {
    opacity: 0;
}
.change div:nth-last-of-type(3) {
    transform: translate(0,10px) rotate(-45deg);
}

header nav {
    width: 100%;
}

header nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header nav ul li {
    width: 100%;
    display: block;
}
header nav ul li a div {
    width: 100%;
}
header nav ul li a div::before {
    width: 100%;
}

/**********************************************
main_visual
**********************************************/
#main_visual img {
    width: 100%;
}

/**********************************************
subcontent
**********************************************/
.subcontent {
    height: 550px;
}
.subcontent .wrapper {
    width: 580px;
}
.subcontent ul {
    flex-wrap: wrap;
}
.subcontent ul li {
    margin-bottom: 50px;
}

/**********************************************
focus
**********************************************/
.focus>div:nth-of-type(1) {
    height: 1550px;
}
.focus>div:nth-of-type(1)>div {
    flex-direction: column;
    width: 580px;
}
.focus>div:nth-of-type(1)>div>div {
    margin-bottom: 50px;
}
.focus>div:nth-of-type(2)>div {
    width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/**********************************************
special
**********************************************/
.special>div {
    height: 370px;
}
.special>div>div {
    flex-direction: column;
    justify-content: center;
}
.special>div>div>div:nth-of-type(1) {
    width: 580px;
    height: 50px;
}
.special>div>div h3 {
    font-size: 24px;
}
.special>div>div h3 span {
    display: inline;
    line-height: 1.2em;
}
.special>div>div>div:nth-of-type(3) {
    margin-top: 20px;
}

/**********************************************
topics
**********************************************/
.topics>div>div {
    width: 580px;
}
.topics>div ul li {
    width: 580px;
}
.topics>div ul li>div {
    width: 580px;
}
.news p {
    font-size: 22px;
}

#sub_visual {
    height: 300px;
    background-size: contain;
}

/**********************************************
pamphlet
**********************************************/
.pamphlet>div {
    width: 580px;
    margin: 0 auto;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: center;
}
.pamphlet>div>div:nth-of-type(1) {
    margin-bottom: 50px;
}

/**********************************************
other
**********************************************/
.other>div {
    flex-direction: column;
}
.other>div>div:nth-of-type(1) {
    margin-bottom: 50px;
}